<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>圣淘电商</title>
    <link rel="stylesheet" href="css/home.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.2/vue.min.js"></script>
    <script src="https://unpkg.com/better-scroll@1.0.1/dist/bscroll.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TgNxsT4CGRj0vmcNeGqRCElg6KCCZvih"></script>
</head>
<body>
    <div id="box">
        <header>
            <div class="head">
                <img src="./images/logo.png" alt="logo" class="left">
                <div class="right">
                    <img src="./images/nav-icon.png" alt="list" @click="menuShow">
                    <nav v-show="navShow" class="nav-box">
                        <ul class="nav-list">
                            <li v-for="(item,index) in navList" :class="{'active':index==currentIndex}"  :key="index" @click="scrollTo(index)">{{item}}</li>
                        </ul>
                        <div class="close" @click="menuShow"></div>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container" ref="wrapper">
            <div>
                <div class="occupy"></div>
                <div class="section banner">
                    <div class="slideshow">
                        <transition-group tag="ul" name="image" class="clearfix">
                            <li v-for="(img, index) in imgArray" v-show="index===mark" :key="index">
                            <a href="#">
                                <img :src='img'>
                            </a>
                            </li>
                        </transition-group>
                    </div>
                    <div class="bar">
                        <span v-for="(item, index) in imgArray" :class="{ 'active':index===mark }" :key="index"></span>
                    </div>
                </div>
                <div class="clearfix section" >
                    <div class="comtitle">
                        <img src="./images/teachRules.png" alt="">
                    </div>
                    <div class="teach-cont">
                        <img src="./images/company.png" alt="">
                        <div class="text">
                            <p class="data">
                                <span>覆盖学员：</span>
                                <span class="speci">100,000+</span>
                            </p>
                            <p>
                                <span>付费用户：</span>
                                <span class="speci">30,000</span>
                            </p>
                        </div>
                    </div>
                    <div class="intro">
                            圣淘电商学院恪守“实战、干货”的办学原则，强大的培训讲师团参与课件研发，遵循实战检验原 则，拒绝任何空洞的理论说教，力求为企业决策层提供有效的决策依据。我们的理念，内功为主，外功为辅，了解买家心里，学会通过数据说话！脱离小卖家思维，建立正确的零售思维，用口碑引爆销量，用数据优化到极致。
                    </div>
                    <img class="slogn" src="./images/slogan.png" alt="标语">
                </div>
                <div class="section aboutUs">
                    <div class="comtitle">
                        <img src="./images/aboutus.png" alt="">
                    </div>
                    <div class="about-cont">
                        <div class="usIntro">
                            <img src="./images/aboutus2.png" alt="">
                            <div class="text">
                                    <p>圣淘电商是目前领先的电商培训服务机构。成立于2014年1月，集聚强大的电商讲师资源， 独特的课程服务模式，通过线下，在线直播、社群答疑等方式，真正解决商家在发展过程中的疑难杂症，致力于为淘宝TOP商家提供完整专业的培训课程。只为打造TOP商家。</p>
                                    <p>圣淘电商明星讲师云集，包括老单、千千，简姆士等十几位专业实战型讲师团队，数十个系列课程，课程体系细致且全面，全面助力商家成长。</p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="section master">
                    <div class="grayBg"></div>
                    <div class="comtitle">
                        <img src="./images/famousTeacher.png" alt="">
                    </div>
                    <div class="master-cont" ref="master">
                        <ul class="master-list">
                            <li>
                                <dl>
                                    <dt>
                                        <img src="./images/num1.jpg" alt="">
                                    </dt>
                                    <dd>
                                        <p class="name">老单</p>
                                        <span class="call">圣淘电商学院院长</span>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        <img src="./images/num1.jpg" alt="">
                                    </dt>
                                    <dd>
                                        <p class="name">老单</p>
                                        <span class="call">圣淘电商学院院长</span>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        <img src="./images/num1.jpg" alt="">
                                    </dt>
                                    <dd>
                                        <p class="name">老单</p>
                                        <span class="call">圣淘电商学院院长</span>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>
                                        <img src="./images/num1.jpg" alt="">
                                    </dt>
                                    <dd>
                                        <p class="name">老单</p>
                                        <span class="call">圣淘电商学院院长</span>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="section course">
                    <div class="comtitle">
                        <img src="./images/course-online.png" alt="">
                    </div>
                    <ul class="coursels-list">
                        <li>
                            <dl>
                                <dt>
                                    <img src="./images/online1.png" alt="">
                                </dt>
                                <dd>心级店铺运营速成教程</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>
                                    <img src="./images/online1.png" alt="">
                                </dt>
                                <dd>心级店铺运营速成教程</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>
                                    <img src="./images/online1.png" alt="">
                                </dt>
                                <dd>心级店铺运营速成教程</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>
                                    <img src="./images/online1.png" alt="">
                                </dt>
                                <dd>心级店铺运营速成教程</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="section offline">
                    <div class="comtitle">
                        <img src="./images/course-off.png" alt="">
                    </div>
                    <div class="off-text">
                        <div class="img-wrap">
                            <img src="./images/offline1.png" alt="">
                            <p class="tip">圣淘电商MBA线下总裁班</p>
                        </div>
                        <p class="text">五天四夜的系统化学习，课程包含：搜索+直通车+X=爆款，课中各种头脑风暴，晚上沙盘演练，课后有助教一对一售后指导，课程结束15天线上复盘，集中解决操作中遇到的问题，线上所有直播录播课程免费听；各大平台活动资源对接。</p>
                    </div>
                    <div class="off-text">
                        <div class="img-wrap">
                            <img src="./images/offline2.png" alt="">
                            <p class="tip">圣淘电商手淘流量爆破营</p>
                        </div>
                        <p class="text">两天一夜首页专题班，针对淘系平台手淘首页流量做系统针对性的讲解，晚上沙盘演练，做具体的落地计划表，真正做到点对点服务；课后助教一对一售后指导，课程结束线上复盘，社群内学员资源对接，解决操作总资源难题，线上所有的直播课程免费听，各大平台业务，活动对接。</p>
                    </div>
                </div>
                <div class="section contact">
                    <div class="comtitle">
                        <img src="./images/course-off.png" alt="">
                    </div>
                    <ul class="company-list" >
                        <li @click="selectCom(0)">
                            <div class="title" :class="{'show':concatShow==0}"> <span class="add"></span> 廊坊市圣淘电子技术服务有限公司</div>
                            <div class="content" v-show="concatShow==0">
                                <div id="map1"class="map"></div>
                                <ul>
                                    <li>公司地址： 廊坊市富康道科技企业创新创业园8楼</li>
                                    <li>联系电话： 15333163913</li>
                                    <li>电子邮箱： 1990525027@qq.com</li>
                                    <li>联系QQ： 1376136498</li>
                                </ul>
                                <img src="./images/maa.png" alt="">
                            </div>
                        </li>
                        <li @click="selectCom(1)">
                                <div class="title" :class="{'show':concatShow==1}"> <span class="add"></span> 杭州圣淘电商有限公司</div>
                            <div class="content" v-show="concatShow==1">
                                    <div id="map2"class="map"></div>
                                    <ul>
                                        <li>公司地址：杭州文一西路利尔达物联网科技园3幢501</li>
                                        <li>联系电话：17681887234</li>
                                        <li>电子邮箱：1376136498@qq.com</li>
                                        <li>联系QQ：1376136498</li>
                                    </ul>
                                    <img src="./images/maa.png" alt="">
                                </div>
                        </li>
                        <li @click="selectCom(2)">
                                <div class="title" :class="{'show':concatShow==2}"> <span class="add"></span> 杭州小时光电子商务有限公司</div>
                            <div class="content" v-show="concatShow==2">
                                    <div id="map3" class="map"></div>
                                    <ul>
                                        <li>公司地址：杭州文一西路利尔达物联网科技园3幢501</li>
                                        <li>联系电话： 17681887234</li>
                                        <li>电子邮箱： 1376136498@qq.com</li>
                                        <li>联系QQ： 1376136498</li>
                                    </ul>
                                    <img src="./images/maa.png" alt="">
                                </div>
                        </li>
                        <li @click="selectCom(3)">
                                <div class="title" :class="{'show':concatShow==3}"> <span class="add"></span> 杭州唯衣电子商务有限公司</div>
                            <div class="content" v-show="concatShow==3">
                                    <div id="map4" class="map"></div>
                                    <ul>
                                        <li>公司地址：杭州文一西路利尔达物联网科技园3幢501</li>
                                        <li>联系电话： 17681887234</li>
                                        <li>电子邮箱： 1376136498@qq.com</li>
                                        <li>联系QQ： 1376136498</li>
                                    </ul>
                                    <img src="./images/maa.png" alt="">
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gotop" @click="goTop">
            <img src="./images/gotop.png" alt="">
        </div>
    </div>
</body>
<script>
 (function(doc, win) {

var docEl = doc.documentElement,

    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',

    recalc = function() {

        var clientWidth = docEl.clientWidth;

        if (!clientWidth) return;

        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';

        /*docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';*/

    };

if (!doc.addEventListener) return;

win.addEventListener(resizeEvt, recalc, false);

doc.addEventListener('DOMContentLoaded', recalc, false);

})(document, window);

var aa = new Vue({
el:'#box',
data(){
  return {
    longitude: 119.9994099830,
    latitude: 30.2823212504,
    longitude2: 116.7528139066,
    latitude2: 39.4854433795,
    scrollY:0,
    listHeight:[],
    navShow:false,
    navList:['首页', '教学规则', '关于我们', '名师授课', '在线课程', '线下课程', '联系我们'],
    imgArray:['./images/banner.png','./images/banner.png'],
    mark:0,
    concatShow:0,
  }
},
created () {
    this.play()
  },
mounted() {
    setTimeout(()=>{
      this._initScroll();
      this._calculateHeight();
    },20)
    this.drawMap()
},
computed:{
    currentIndex(){
        for(let i=0;i<this.listHeight.length;i++){
            let height1=this.listHeight[i];
            let height2=this.listHeight[i+1];
            if(!height2 || this.scrollY >= height1 && this.scrollY < height2){
            return i;
            }
        }
        return 0;
    }
    },
methods:{
    _initScroll(){
      if(!this.$refs.wrapper){
        return
      }
      this.scroll = new BScroll(this.$refs.wrapper,{
        probeType: 3,
        click: true
      })
      this.master = new BScroll(this.$refs.master,{
        scrollX: true,
      })
      this.scroll.on('scroll',(pos)=>{
            this.scrollY=Math.abs(Math.round(pos.y))
          })
    },
    _calculateHeight(){
          let foodList=this.$refs.wrapper.getElementsByClassName("section");
          let height=0;
          this.listHeight.push(height);
          for(let i=0;i<foodList.length;i++){
            let item=foodList[i];
            height+=item.clientHeight;
            this.listHeight.push(height);
          }
        },
      scrollTo(index) {
        this.currentIndex = index;
        let foodList=this.$refs.wrapper.getElementsByClassName('section');
        let el=foodList[index];
        this.scroll.scrollToElement(el,300)
        console.log(this.currentIndex,index)
      },
      menuShow(){
          this.navShow = !this.navShow
      },
      goTop(){
        this.scroll.scrollTo(0,0,300)
      },
      autoPlay () {
      this.mark++;
      if (this.mark === 2) { //当遍历到最后一张图片置零
        this.mark = 0
      }
    },
    play () {
      setInterval(this.autoPlay, 2500)
    },
    change (i) {
      this.mark = i
    }  ,
    selectCom(index){
        this.concatShow = index;
    },
    showMap(el,x,y){
        var map =new BMap.Map(el);
        var point =new BMap.Point(x,y);
        var marker =new BMap.Marker(point);
        map.addOverlay(marker);
        map.centerAndZoom(point,14.5);
        map.enableScrollWheelZoom(true);
    },
    drawMap(){
        this.showMap('map2',this.longitude,this.latitude)
        this.showMap('map3',this.longitude,this.latitude)
        this.showMap('map4',this.longitude,this.latitude)
        this.showMap('map1',this.longitude2,this.latitude2)
    }
       }
})
</script>

</html>